{% extends "account/base.html" %}

{% block page_title %}Login{% endblock %}

{% block page_js %}
    <script type="text/javascript">
	$(function()	{
	    $("#msger").ajaxStart(function()	{
		$(this).slideDown("fast");
	    });

	    $("#login input").bind("keydown", function(e)   {
		if (e.keyCode == 13)	{
		    logIn();
		}
	    });

	});
    </script>
{% endblock %}

{% block main %}
    {% if request.flash.feedback %}
	<div class="info widget"><p>{{ request.flash.feedback|escape }}</p></div>
    {% endif %}

    <form id="login" class="left widget">
	<fieldset>
	    <legend>Log In</legend>
	    <p>Don't have an account? <a href="{% url acct_signup %}">Sign Up</a></p>
	    <ol>
		{% for field in form %}
		    <li>{{ field.label_tag }}{{ field }}</li>
		{% endfor %}
		<li><label></label><input type="button" value="Log In" onclick="logIn()"/></li>
	    </ol>
	    {% url account.views.password_reset as pwd_reset_url %}
	    <!--<a href="{{ pwd_reset_url }}">Forgot password?</a>-->
	</fieldset>
    </form>
{% endblock %}
