{% extends "account/base.html" %}

{% block form %}
    <div class="grid_5">
	{% if request.flash.feedback %}
	    <p class="flashmsg">{{ request.flash.feedback|escape }}</p>
	{% endif %}
	<div class="block">
	    <form id="login" action="javascript:logIn();">
		<fieldset class="login">
		    <legend>Log In<span class="ajax"><img src="/site_media/img/loading2.gif"/></span></legend>
		    <p>Don't have an account? <a href="{% url acct_signup %}">Sign Up</a></p>
		    {{ form.as_p }}
		    <input class="confirm button" type="submit" value="Log In"/>
		    <p><a href="#">Forgot password?</a>
		</fieldset>
	    </form>
	</div>
    </div>
{% endblock %}
