{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block body %}
	<p>
		{% if request.flash.feedback %}
			{{ request.flash.feedback|escape }}
		{% endif %}
	</p>
	<div class="clearfix padtop">
		<div id="basic-form">
			<fieldset>
				<legend>Sign Up</legend>

				<p>Already have an account? <a href="{% url acct_login %}">Log In</a></p>

				<form class="signupform" id="signup_form" method="post" action="{% url acct_signup %}">
					<table width="300px">
						{{ form.as_table }}
						<tr>
							<td></td>
							<td><input type="submit" value="Sign Up" class="button" /></td>
						</tr>
					</table>
				</form>
				
				<div class="right-form">
					<p>
						By clicking "Sign Up", you are indicating that you have read and agreed to the <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>
					</p>
					<p>
						If you have any trouble creating your account, contact us at <a href="mailto:">support@aerixnigeria.com</a>
					</p>
				</div>
			</fieldset>
		</div>
	</div>
{% endblock %}
