{% extends "account/base.html" %}

{% block page_title %}Sign Up{% endblock %}

{% block page_js %}
    <script type="text/javascript">
	$(function()	{
	    $("#msger").ajaxStart(function()	{
		$(this).slideDown("fast");
	    }).ajaxStop(function()  {
		$(this).slideUp("fast");
	    });
	});
    </script>
{% endblock %}

{% block main %}
    
    <form id="signup" class="left widget">
	<fieldset>
	    <legend>Sign Up</legend>
	    <p>Already have an account? <a href="{% url acct_login %}">Log In</a></p>
	    <ol>
		{% for field in form %}
		    <li>{{ field.label_tag }}{{ field }}</li>
		{% endfor %}
		<li><label></label><input type="button" value="Sign Up" onClick="signup()" /></li>
	    </ol>
	</fieldset>
    </form>
{% endblock %}

{% block sidebar %}
    <div id="signup-help" class="right widget">
	<p>
	    By clicking "Sign Up", you are indicating that you have read and agreed to the <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.
	</p>
	<p>
	    If you have any trouble creating your account, contact us at <a href="mailto:">support@aerixnigeria.com</a>
	</p>
    </div>
{% endblock %}
<div class="clear-float"></div>
