{% extends "account/base.html" %}

{% block main %}
    <div class="grid_11">&nbsp;</div>
    <div class="grid_5">
	<div class="block">
	    <form id="signup" action="javascript:signUp();">
		<fieldset class="login">
		    <legend>Sign Up<span class="ajax"><img src="/site_media/img/loading2.gif"/></span></legend>
		    <p class="instruction">All fields are required. Already have an account? <a href="{% url acct_login %}">Log In</a></p>
		    {{ form.as_p }}
		    <input class="confirm button" type="submit" value="Sign Up"/>
		</fieldset>
	    </form>
	</div>
    </div>
    <div class="clear"></div>
    
{% endblock %}

    <!--<div id="signup-help" class="right widget">
	<p>
	    By clicking "Sign Up", you are indicating that you have read and agreed to the <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.
	</p>
	<p>
	    If you have any trouble creating your account, contact us at <a href="mailto:">support@aerixnigeria.com</a>
	</p>
    </div>-->
