{% extends "products/base.html" %}

{% block page_js %}
    <script>
	$(function()	{
	    $(".quote_form label").remove();
	    $(".quote_form #id_user").attr("value", "{{ user.id }}");
	});
    </script>
{% endblock %}

{% block module %}
    <h2>{{ product.category }}</h2>
    <div id="product" class="viewport">
	<div id="image" class="grid_4 alpha omega">
	    <img src="/{{ product.large_image }}"/>
	</div>
	<div id="detail" class="grid_12">
	    <h5>{{ product.name }}</h5>
	    <p>{{ product.description }}</p>
	    <div class="actions">
		<a target="blank" href="{{ product.product_page }}">View Product Page</a>
	    </div>
	    {% if product.productvariant_set.all %}
		<h5>Variants</h5>
		<table border=1>
		{% for pv in product.productvariant_set.all %}
		    <tr>
			<td>{{ pv.part_number }}</td>
			<td>{{ pv.description }}</td>
			<td id="cell{{ pv.pk }}" class="activity">
			    <a class="quote_btn" href="javascript:showQuoteForm('{{ pv.pk }}')"> + Quote</a>
			    <form id="quote_{{ pv.pk }}_form" class="quote_form" action="javascript:quote('{{ pv.pk }}')">
				{{ form.as_p }}
				<input type="submit" value="Add"/>
			    </form>
			</td>
		    </tr>
		{% endfor %}
		</table>
	    {% endif %}
	    {% if product.accessory_set.all %}
		<h5>Accessories</h5>
		<table border=1>
		{% for a in product.accessory_set.all %}
		    <tr>
			<td>{{ a.part_number }}</td>
			<td>{{ a.description }}</td>
			<td id="cell{{ a.pk }}" class="activity">
			    <a class="quote_btn" href="javascript:showQuoteForm('{{ a.pk }}')"> + Quote</a>
			    <form id="quote_{{ a.pk }}_form" class="quote_form" action="javascript:">
				{{ form.as_p }}
				<input type="submit" value="Add"/>
			    </form>
			</td>
		    </tr>
		{% endfor %}
		</table>
	    {% endif %}
	</div>
	<div class="clear"></div>
    </div>
{% endblock %}
