{% extends "base.html" %}

{% block title %}
    Quote Generator - {% block page_title %}{% endblock %}
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="/site_media/css/quote.css"/>
    <link rel="stylesheet" href="/site_media/js/jquery/lightbox/css/jquery.lightbox.css"/>
    {% block page_css %}{% endblock %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="/site_media/js/jquery/lightbox/js/jquery.lightbox.js"</script>
    <script type="text/javascript" src="/site_media/js/quote.js"></script>
    {% block page_js %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="clearfix padtop">
    {% if user.is_authenticated %}
	{% block main %}{% endblock %}
    {% else %}
	{% url acct_signup as signup_url %}
	{% url acct_login as login_url %}
	<div class="info widget">
	    <p>Start by <a href="{{ signup_url }}">signing up</a> and <a href="{{ login_url }}">logging in</a>.</p>
	</div>
    {% endif %}
	{% block sidebar %}{% endblock %}
    </div>
{% endblock %}
