{% extends "quote_generator/base.html" %}

{% block page_title %}Home{% endblock %}

{% block main %}
    <script type="text/javascript">
	$(function()	{
	    getUserCompany({{ user.id }});
	});
    </script>

    <div class="widget">
	<h1>Welcome {{ user.first_name }}!</h1>

	<p>To generate a quote:</p>
	<ol>
	    <input id="user-id" name="user-id" type="hidden" value="{{ user.id }}"/>
	    <input id="user-company" name="user-company" type="hidden" value=""/>
	    <li><a href="#" onclick="createQuote()"><strong>Create a blank quote</strong></a>,</li>
	    <li>Add items to your quote,</li>
	    <li>Preview your quote, and;</li>
	    <li>Send the quote to your email!</li>
	</ol>
	<!--<p>You may also <a href=""><b>complete an existing quote generation process</b></a> by adding or removing items, previewing and sending the quote to your email.</p>-->
    </div>
{% endblock %}
