{% extends "quote_generator/base.html" %}

{% block page_title %}Home{% endblock %}

{% block main %}
    <div class="widget">
	<h1>Welcome {{ user.first_name }}!</h1>

	<p>To <a href="/quote/home/?user_id={{ user.id }}"><b>generate a quote</b></a>:</p>
	<ol>
	    <li>Create a quote,</li>
	    <li>Add items to your quote,</li>
	    <li>Preview your quote, and;</li>
	    <li>Send the quote to your email!</li>
	</ol>
	<!--<p>You may also <a href=""><b>complete an existing quote generation process</b></a> by adding or removing items, previewing and sending the quote to your email.</p>-->
    </div>
{% endblock %}
