{% extends "quote_generator/base.html" %}

{% block page_title %}Product Home{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="/site_media/js/jquery/tabs/css/jquery-ui.custom.css"/>
{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="/site_media/js/jquery/tabs/jquery-ui.js"></script>
    <script type="text/javascript">
	$(function()	{

	    $("#tabs").tabs();

	    $("#msger").ajaxStart(function()	{
		$(this).slideDown("fast");
	    }).ajaxStop(function()  {
		$(this).slideUp("fast");
	    });

	    var urlBits = document.referrer.split("/");
	    displayQtyFeedback(urlBits);
	    
	});

	function showCategories(data)   {

	    var lst = "";

	    for (var i = 0; i < data.length; i++)   {
		lst += "<li><a href='/quote/{{ quote.id }}/add_product/?category_id=" + data[i].pk + "'>" + 
			    data[i].fields.name + 
			"</a></li>";
	    }
	    $("#category_list").html(lst);

	}

	function showManufacturers(data)	{
	    var lst = "";

	    for (var i = 0; i < data.length; i++)   {
		lst += "<dt>" + 
			    "<a href='/quote/{{ quote.id }}/add_product/?manufacturer_id=" + data[i].pk + "'>" + 
				data[i].fields.name + "</a>" + 
			"</dt>" + 
			"<dd>" + data[i].fields.city + ", " + data[i].fields.country + "</dd>";
	    }
	    $("#manuf_list").html(lst);
	}

    </script>
{% endblock %}

{% block main %}
    <div id="quote-info" class="info widget">
	<p></p>
    </div>

    <div class="widget">
	<script type="text/javascript">
	    displayLst("/manufacturer_list/");
	    displayLst("/category_list/");
	</script>
	<h1>Select Product Group</h1>
	<p>You may choose products either by their manufacturer or the category they belong.</p>
	<div id="tabs" class="padtop">
	    <ul>
		<li><a href="#manufacturers">Manufacturers</a></li>
		<li><a href="#categories">Categories</a></li>
	    </ul>
	    <div id="manufacturers" class="tab-content">
		<dl id="manuf_list"></dl>
	    </div>
	    <div id="categories" class="tab-content">
		<dl id="category_list"></dl>
	    </div>
	</div>
    </div>
{% endblock %}
