{% extends "quote_generator/base.html" %}

{% block page_title %}
    {% if result.manufacturer %}
	Products by {{ result.manufacturer }}
    {% endif %}
    {% if result.category %}
	Products in category: {{ result.category }}
    {% endif %}
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="/site_media/js/jquery/dialog/css/jquery-ui.custom.css"/>
{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="/site_media/js/jquery/dialog/jquery-dialog.js"></script>
    <script type="text/javascript">
	$(function()	{

	    $(".product-detail").hover(
		function()  {
		    $(this).find("#add-quote-item").show();
		},
		function()  {
		    $(this).find("#add-quote-item").hide();
		}
	    );

	    $("#msger").ajaxStart(function()	{
		$(this).slideDown("fast");
	    });

	    $('#user-details').dialog({
		autoOpen: false,
		width: 600,
		modal: true
	    });

	    $("#user-details input").bind("keydown", function(e)   {
		if (e.keyCode == 13)	{
		    submitMoreDetails({{ user.id }}, {{ result.quote }});
		}
	    });
		
	});
    </script>
{% endblock %}

{% block main %}
    <div class="widget">
	{% if result.manufacturer %}
	    <h1>Products by {{ result.manufacturer }}</h1>
	{% endif %}
	{% if result.category %}
	    <h1>Products In Category: {{ result.category }}</h1>
	{% endif %}
	<p>Hover over products to add.</p>
	<table width="100%" class="product-list padtop">
	    <input id="quote-id" name="quote-id" type="hidden" value="{{ result.quote }}"/>
	    <thead>
		<tr>
		    <th id="header-1"><h3>Product</h3></th>
		    <th id="header-2">
			<h3>
			{% if result.manufacturer %}
			    Categories
			{% endif %}
			{% if result.category %}
			    Manufacturer
			{% endif %}
			</h3>
		    </th>
		    <th id="header-3">&nbsp;</th>
		</tr>
	    </thead>
	    <tbody>
	    {% for p in result.products %}
		<tr class="product-detail">
		    <td>
			<h4><a target="blank" href="{{ result.product_index }}{{ p.product_page }}">{{ p.name }}</a></h4>
			<p>{{ p.short_description }}</p>
			<p><a target="blank" href="{{ result.specs_index }}{{ p.specs_page }}">Specifications</a></p>
		    </td>
		    <td>
		    {% if result.manufacturer %}
			{% for c in p.categories.values %}
			    <p class="padtop">{{ c.name }}</p>
			{% endfor %}
		    {% endif %}
		    {% if result.category %}
			<p class="padtop">{{ p.manufacturer }}</p>
		    {% endif %}
		    </td>
		    <td id="cell{{ p.pk }}">
			<form id="add-quote-item">
			    <input id="quantity{{ p.pk }}" name="quantity" type="text"/>
			    <input type="button" value="Add" id="{{ p.pk }}" onclick="quote(this.value, this.id)"/>
			</form>
			<form class="rem-quote-item">
			    <input type="button" value="Remove" id="{{ p.pk }}" onclick="quote(this.value, this.id)"/>
			</form>
		    </td>
		</tr>
	    {% endfor %}
		<tr>
		    <td></td>
		    <td><p><a href="/product_groups/?quote_id={{ result.quote }}">More Products</a></p></td>
		    <td><p><a href="#" onclick="quoteHasItem({{ result.quote }}, {{ user.id }})">Preview Quote</a></p></td>
		</tr>
	    </tbody>
	</table>
    </div>
    <form id="user-details" title="Contact Details">
	<fieldset>
	    <p>Please provide your contact details. You would have to do this only once.</p>
	    <ol>
		<li>
		    <label for="phone">Phone:</label>
		    <input type="text" id="phone"/>
		</li>
		<li>
		    <label for="company">Company:</label>
		    <input type="text" id="company"/>
		</li>
		<li>
		    <label for="position">Position:</label>
		    <input type="text" id="position"/>
		</li>
		<li>
		    <label for="company_address">Company Address:</label>
		    <input type="text" id="company_address"/>
		</li>
		<li>
		    <label for="city">City:</label>
		    <input type="text" id="city"/>
		</li> 
		<li>
		    <label for="state">State:</label>
		    <input type="text" id="state"/>
		</li>
		<li>
		    <label for="country">Country:</label>
		    <input type="text" id="country"/>
		</li>
		<li><label></label><input type="button" value="Submit" onclick="submitMoreDetails({{ user.id }}, {{ result.quote }})"/></li>
	    </ol>
	</fieldset>
    </form>
{% endblock %}
