{% extends "quote_generator/base.html" %}

{% block page_title %}Quote Preview{% endblock %}

{% block page_js %}
    <script type="text/javascript">
	$(function()	{
	    $("#msger").ajaxStart(function()	{
		$(this).slideDown("fast");
	    });
	});
    </script>
{% endblock %}

{% block main %}
    <div class="padded aliceblue">
    {% if user.is_authenticated %}
	<h1>{{ quote.title }}</h1>
	<table width="100%" class="product-list padtop">
	    <thead>
		<tr>
		    <th id="header-1"><h3>Item</h3></th>
		    <th><h3>Manufacturer</h3></th>
		    <th><h3>Quantity<h3></th>
		</tr>
	    </thead>
	    <tbody>
	    {% for qi in quote.quoteitem_set.all %}
		<tr>
		    <td>
			<h4>{{ qi.product.name }}</h4>
		    </td>
		    <td>
			<p class="padtop">{{ qi.product.manufacturer }}</p>
		    </td>
		    <td>
			<p class="padtop">{{ qi.quantity }}</p>
		    </td>
		</tr>
	    {% endfor %}
		<tr>
		    <td id="quote-actions">
			<p class="notices">Prices are not displayed on our web site. However, they would be displayed in the quote we'll send to your email.</p>
		    </td>
		    <td>
			<p><a href="javascript:deleteQuote({{ quote.id }})">Discard Quote</a></p>
		    </td>
		    <td>
			<p><a href="javascript:emailQuote({{ quote.id }}, {{ user.id }})">Send to email</a></p>
		    </td>
		</tr>
	    </tbody>
	</table>
    {% else %}
	{% url acct_signup as signup_url %}
	{% url acct_login as login_url %}
	<p>Start by <a href="{{ signup_url }}">signing up</a> and <a href="{{ login_url }}">logging in</a>.</p>
    {% endif %}
    </div>
{% endblock %}
