{% extends "quote/base.html" %}

{% block module %}
    <h2>Preview Your Quotation</h2>
    <div id="quotation" class="viewport">
	<table>
	    <thead>
		<tr>
		    <th>S/No.</th>
		    <th>Reference</th>
		    <th>Description</th>
		    <th>Quantity</th>
		    <th>Cost Per Unit</th>
		    <th>Total Cost</th>
		</tr>
	    </thead>
	    <tbody>
	    {% for ql in line_items %}
		<tr class="pv_detail">
		    <td>{{ ql.id }}</td>
		    <td>{{ ql.product.part_number }}</td>
		    <td>{{ ql.product.description }}</td>
		    <td>{{ ql.quantity }}</td>
		    <td>{{ ql.cost_per_unit }}</td>
		    <td>{{ ql.cost }}</td>
		</tr>
	    {% endfor %}
	    <tr>
		<td colspan=5>SUB TOTAL</td>
		<td>{{ quotation.cost }}</td>
	    </tr>
	    <tr>
		<td colspan=5>VAT @ 5%</td>
		<td>{{ quotation.VAT }}</td>
	    </tr>
	    </tbody>
	</table>
	<form id="detail_check" action="javascript:checkDetail({{ user.id }}, {{ quotation.id }});">
	    {{ user_detail_form.as_p }}
	    <input type="submit" value="Proceed"/>
	</form>
    </div>
{% endblock %}

{% block page_js %}
    <script>
	$(function()	{
	    $("#detail_check #id_company").attr("value", "{{ user_account.company }}");
	});
    </script>
{% endblock %}
