{% extends "quote/base.html" %}

{% block module %}
    <h2>Preview Your Quotation</h2>
    <div id="quotation" class="viewport">
	<img src="/site_media/img/logo_small.jpg"/>
	<p>{{ quotation.quotation_no }}</p>
	<p>{{ quotation.time_created }}</p>
	<table>
	    <thead>
		<tr>
		    <th>S/No.</th>
		    <th>Reference</th>
		    <th>Description</th>
		    <th>Quantity</th>
		    <th>Price per unit (GBP)</th>
		    <th>Total (GBP)</th>
		</tr>
	    </thead>
	    <tbody>
	    {% for ql in line_items %}
		<tr class="pv_detail">
		    <td>{{ ql.id }}</td>
		    <td>{{ ql.product.part_number }}</td>
		    <td>{{ ql.product.description }}</td>
		    <td>{{ ql.quantity }}</td>
		    <td>{{ ql.cost_per_unit }}</td>
		    <td>{{ ql.cost }}</td>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>
    </div>
{% endblock %}
