<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Aerix Equipment Supply</title>
	<link rel="stylesheet" type="text/css" href="/site_media/css/reset.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/site_media/css/text.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/site_media/css/grid.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/site_media/css/layout.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/site_media/css/nav.css" media="screen"/>
	<link rel="stylesheet" href="/site_media/css/tables.css"/>
	{% block custom_css %}{% endblock %}
	<script type="text/javascript" src="/site_media/js/jquery.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery.form.js"></script>
	<script type="text/javascript" src="/site_media/js/main.js"></script>
	<script type="text/javascript">
	    $(function()    {
		$("#menu a.cat").click(function()  {
		    $(this).toggleClass("visible");
		    $(this).next().toggle();
		    return false;
		}).next().hide();
	    });
	</script>
	{% block custom_js %}{% endblock %}
	{% block page_js%}{% endblock %}
    </head>
    {% block body_id %}<body>{% endblock %}
	<div class="container_16">
	    <div id="msger" class="container_16"><p>Loading...</p></div>
	    <div id="header">
		<div id="logo" class="grid_3">
		    <a href="http://www.aerixnigeria.com"><img id="logo" src="/site_media/img/logo_small.jpg"/></a>
		</div>
		<div class="grid_8">
		    <ul class="nav">
			<li><a href="#">Fluid 12-column</a></li>
			<li><a href="#">Fluid 12-column</a></li>
			<li><a href="#">Fluid 12-column</a></li>
			<li><a href="#">Fluid 12-column</a></li>
		    </ul>
		</div>
		{% block right-corner %}{% endblock %}
		<div class="clear"></div>
	    </div>
	    <hr class="grid_16"/>
	    <div id="content">
		{% block body %}{% endblock %}
	    </div>
	    <div id="footer" class="grid_16">
		<div class="box">
		    <p>
			Equipment Supply by <a href="http://www.aerixnigeria.com/">Aerix</a>.
		    </p>
		</div>
	    </div>
	</div>

	<script type="text/javascript">
	    /*var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
	    document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))*/
	</script>
	<script type="text/javascript">
	/*UserVoice.Tab.show({ */
	    /* required */
	    /*key: 'aerixsupply',
	    host: 'aerixsupply.uservoice.com', 
	    forum: '31946', */
	    /* optional */
	    /*alignment: 'left',
	    background_color:'#f00', 
	    text_color: 'white',
	    hover_color: '#06C',
	    lang: 'en'
	})*/
	</script>

    </body>
</html>
