body {
    background-color: #FFF;
    margin: 0;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}
html, body {
    height: 100%;
}
a, a:visited {
    color: #13C;
    text-decoration: none;
}
a:hover	{
    text-decoration: underline;
}
p   {
    margin: 0px;
    padding: 0px;
}
img {
    border: 0;
}
dt {
    font-weight: bold;
}
#body {
    clear: both;
    margin: 0 auto;
    padding: 10px;
    width: 800px;
}
#footer {
    color: #999; /* footer text colour */
    margin: 50px auto;
    padding: 10px;
    clear: both;
    width: 800px;
}
#footer a, #footer a:visited {
    color: #444; /* footer link colour */
}
#footer a:hover {
    color: #777; /* footer link hover colour */
}
h1, h3, h4 {
    margin: 0;
}
h1  {
    font-size: 160%;
}
#tabhead {
    border-bottom: 1px solid #ddd;
    position: relative;
    height: 100px;
    padding: 25px 0px 0px 0px;
}
#tabhead .logo {
    height: 100px;
    padding-left: 220px;
    padding-top: 0;
}
#tabhead .logo img {
    width: 200px;
    height: 100px;
}
#tabhead .login {
    position: absolute;
    top: 0px;
    right: 235px;
    color: #13C;
    padding-top: 10px;
}
#subnav {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
}
#subnav ul {
    float: right;
    margin: 0 20px;
    padding: 0;
}
#subnav ul li {
    display: inline;
    list-style-type: none;
}
#subnav ul a:link, #subnav ul a:visited {
    float: left;
    font-weight: bold;
    text-decoration: none;
    color: #444;
    padding: 4px 20px;
}
#subnav ul a:hover {
    color: #FFF;
    background: #9BC;
}

/* pagination */
.pagination {
    margin: 10px 0;
}
.pagination .disabled {
    padding: 3px;
    color: #999;
    border: 1px solid #CCC;
}
.pagination .current {
    padding: 3px;
    color: #FFF;
    border: 1px solid #9BC;
    background: #9BC;
}
.pagination a {
    padding: 3px;
    text-decoration: none;
    border: 1px solid #9BC;
    color: #444;
    background: #DEF;
}

/* reference:
 *   http://www.positioniseverything.net/easyclearing.html
 *   http://www.zeldman.com/2006/10/27/ie7fixes1/
 *      comment by michael on 10/28/2006
 */
.clearfix {
    min-height: 1%;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */

p.what_next {
    font-size: 120%;
}
.padtop {
    margin-top: 20px;
}
.clear-float    {
    float: none;
    clear: both;
}
#ajax-loading   {
    margin: 5px 0 5px 230px;
}
#tabs	{
    background-color: #fff;
}
.tab-content dl, ul    {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.tab-content dl dt	{
    font-size: 103%;
}
.tab-content dl dd	{
    margin: 0 0 .5em 0;
    font-style: italic;
}
.tab-content ul li	{
    margin: .2em;
}
.over	{
    background-color: #efefef;
}
.out	{
    background-color: #fff;
}
#msger	{
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: left;
    border-bottom: solid 2px #ddd;
    display: none;
}
#msger p    {
    margin: 0px 0px 0px 230px;
    line-height: 2em;
    font-size: 125%;
}

.left-div {
    float: left;
}
.right-div  {
    float: right;
}
#sign-up .right-div {
    width: 350px;
    margin-left: 105px;
}
#quote .right-div  {
    width: 450px;
}


/* Generic product list styling */
.product-list #header-1   {
    width: 62.5%;
}
.product-list #header-2   {
    width: 25%;
}
.product-list #header-3    {
    width: 10%;
}
.product-list  {
    border-spacing: 0;
    background-color: #fff;
}
.product-list th	{
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    text-align: left;
    line-height: 2em;
}
.product-list th, .product-list td	{
    padding-left: 10px;
    margin: 0px;
}
.product-list td	{
    border-bottom: solid 1px #ddd;
    vertical-align: top;
}
.product-list td p  {
    margin: 0px 0px 5px 0px;
}
.product-list h4    {
    font-size: 110%;
    margin: 5px 0px 5px 0px;
}


/* Add and remove quote-item form */

tr.product-detail:hover   {
    background-color: #f5f5f5;
}
.product-detail form input[type="button"] {
    font-size: 8pt;
}
.product-detail form	{
    display: none;
}
.padtop p, .product-detail form    {
    padding-top: 5px;
}

#quote-actions	{
    padding: 10px;
}
.notices    {
    border: solid 1px #ddd;
    background-color: #f5f5f5;
    padding: 5px;
}
#signup-info	{
    width: 370px;
}
.aliceblue  {
    background-color: #f0f8ff;
}
.padded	{
    padding: 15px;
}
form p, #signup-info p	{
    border-bottom:solid 1px #dedede;
    padding-bottom: 5px;
}
form p	{
    margin-bottom: 10px;
}
#signup-info p	{
    line-height: 1.5em;
}
